*{
	font-family: sans-serif !important;
}

body, html, p{
  	overflow-x: hidden;
	color: #333;
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-align: justify;
}

a{
	color: #666;
	text-decoration: none;
}

a.top_link{
	color: white;
	padding: 0 1em;
	border-left: 1px solid #eee;
}

nav
{
    display: inline-block;
    text-align: right;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color:white;
    padding-bottom: 3px;
    text-decoration: none;
    cursor:pointer;
}

#bloc_texloud{
	display: block;	
	width:100%;
	height: 700px;
	background-color: white;
}

#logoTexloud{
	height:50px;
	float:left;
	margin-left:10px;
}

#titretexloud{
   display: inline-block;
   padding-left: 10px;
   padding-right: 1em;
   font-size: 2em;
   font-weight: normal;
   margin-top: 10px;
   color: white;
}

#titre_principal {
  width: 100%;
  height:50px;
  color:white;
  background-color: #618e34;
  border: 1px solid #5d632a;
}


#session{
 display: inline;
}

#menu{
  float:right;
  margin-top: 10px;
  font-size: 10px;
}

section h1, footer h1, nav a
{
    font-weight: normal;
    text-transform: uppercase;
}

#username_header{
	margin-right: 1em;
	font-size: 1em;
	color: white;
}

#flash{
	width: 100%;
	padding: 2em;
	text-align: center;
}
