article
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article p
{
    font-size: 0.8em;
}

.old_ie section h1, .ie8 section h1
{
    font-size: 1.1em;
}

#projet{
	float: left;
	display: block;
	background-color: white;
	height: 100%;
	width:19.5%;
}

#editeur{
	margin: 0;
	padding: 0;
}

#editeur textarea{
	border: none;
	border-left: 1px solid black;
	width: 80%;
	font-size: 0.9em;
	float: right;
	overflow:auto; 
	display: inline-block;
}

#popup_compile{
	overflow: hidden;
	text-align: center;
	display: block;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #999;
	padding: 20px 10px;
	width: 400px;
	height: 120px;
}

#loadingDiv{
	text-align: center;
	display: block;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #999;
	padding: 20px 10px;
}

#root_file_id optgroup{
	font-style: none;
} 

#root_file_id{
}

.menu{
	text-align: center;
}

 #contextProjectMenu, #contextFolderMenu, #contextFileMenu{
	text-align: left;
}

#divLog{
	height:150px;
	overflow: auto ;
	background-color:#E0E0E0;
}

#divLogTopBar{
	text-align:right;
}

#divLogTopBar span{
	cursor:pointer;
	font-weight:bold;
}

.warningLog{
	color:#CC3300;
}

.errorLog{
	color:red;
}
