php_flag display_errors On
php_value error_reporting 6135

RewriteEngine On 
RewriteRule ^([a-zA-Z0-9-_]*)/?$ /index.php?p=$1 [L]
RewriteRule ^page/([a-zA-Z0-9-_]*)/?$ /index.php?p=page&slug=$1 [L]
RewriteRule ^([a-zA-Z0-9-_]*)/([a-zA-Z0-9-_]*)/([a-zA-Z0-9-_]*)/([a-zA-Z0-9-_]*)/([a-zA-Z0-9-_]*)/([a-zA-Z0-9-_]*)/?$ /index.php?p=$1&a=$2&$3=$4&$5=$6 [L]
RewriteRule ^([a-zA-Z0-9-_]*)/([a-zA-Z0-9-_]*)/([a-zA-Z0-9-_]*)/([a-zA-Z0-9-_]*)/?$ /index.php?p=$1&a=$2&$3=$4 [L]
RewriteRule ^([a-zA-Z0-9-_]*)/([a-zA-Z0-9-_]*)/?$ /index.php?p=$1&a=$2 [L]
