.root {
	list-style-image: url("./../img/rootIcon.png");
}

.folder {
	list-style-image: url("./../img/folderIcon.png");
	cursor: pointer;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.file {
	list-style-image: url("./../img/fileIcon.png");
	cursor: pointer;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.ulArbre {
	margin: 0;
	padding: 0;
}

.menu {
	background-color: rgba(230, 230, 230, 0.9);
	z-index: 20;
	width: 220px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid black;
}

.menu ul {
	list-style-type: none;
}

.menu li {
	cursor: pointer;
}

.menu li:hover {
	color:hsla(120,100%,10%,0.7);
}

#contextFolderMenu #addFolder {
	list-style-image: url("./../img/addFolder.png");
}

#contextFolderMenu #removeFolder {
	list-style-image: url("./../img/removeFolder.png");
}

#contextFolderMenu #addFile {
	list-style-image: url("./../img/addFile.png");
}

#contextFileMenu #removeFile {
	list-style-image: url("./../img/removeFile.png");
}

#menuAddFile{
	width: 250px;
	text-align:center;
}
